{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="_email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="_password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button type="submit" class="btn btn-lg btn-primary btn-block mt-3">
        Sign in
    </button>
</form>
{% endblock %}
