{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.name) }}
    {{ form_row(registrationForm.lastName) }}
    {{ form_row(registrationForm.plainPassword) }}
    <button type="submit">
        Inscrire
    </button>
    {{ form_end(registrationForm) }}
{% endblock %}
